@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
    background-image: url("https://i.pinimg.com/564x/68/c0/40/68c040c4e589c7e9766bf753ec1d5deb.jpg");
    background-size: 400px;
}

#profile {
    width: 1000px;
    height: 700px;
    border: 3px solid rgb(255, 228, 252);
    padding: 50px;
    margin: auto;
    border-radius: 4%;
}

.profilepic {
    border-radius: 50%;
}

.name {
    color: lightpink;
    font-family: Cherry Bomb One;
    position: relative;
    top: -200px;
    left: 250px;
    font-size: 40px;
}

.bio {
    color: rgb(255, 211, 250);
    font-family: Cherry Bomb One;
    font-size: 30px;
    position: relative;
    bottom: 450px;
    left: 250px;
}

.angel {
    position: relative;
    bottom: 600px;
    left: 530px;
    height: 25px;
}

/* BLINKIES TIME */ 

.mikudayo {
    width: 300px;
    height: auto;
    position: relative;
    bottom: 800px;
    left: 30px;
}

.badwebsite {
    width: 300px;
    height: auto;
    position: relative;
    bottom: 720px;
    left: -275px;
}

.KITTIESSS {
    width: 300px;
    height: auto;
    position: relative;
    bottom: 640px;
    left: -578px;
}

.musiccc {
    width: 300px;
    height: auto;
    position: relative;
    left: -880px;
    bottom: 100px;

}

.moon {
    position: relative;
    height: 150px;
    width: auto;
    right: -500px;
    bottom: 100px;
}

.bnnuy {
    position: relative;
    bottom: 326px;
    left: 870px;
}

.desc {
    font-family: Cherry bomb one;
    color: rgb(255, 179, 245);
    font-size: 30px;
    position: relative;
    top: -120px;
}

.rainbow {
    height: 150px;
    width: auto;
    position: relative;
    left: 990px;
    bottom: 500px;
}

.kitty {
    height: 130px;
    position: relative;
    bottom: 330px;
    right: 470px;
}

.mikuuu {
    height: 100px;
    position: relative;
    top: -1000px;
    left: 380px;
}

.embracemoon {
    height: 42px;
    position: relative;
    bottom: 690px;
    left: -1074px;
}

.awwwwwwwww {
    height: 95px;
    position: relative;
    bottom: 330px;
    left: 110px;
}

.vibecode {
    height: 30px;
    position: relative;
    right: 730px;
    bottom: 250px;
}