@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

.user {
  width: 400px;
  height: 300px;
  padding: 50px;
  margin: auto;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(0, 0, 0, 0.46);
  
}

.coolpro {
    height: 100px;
    display: block;
    margin: auto;
}

.name {
    color: white;
    text-align: center;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
}

.desc {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}